$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/_mixins.scss';
@import '~bootstrap-sass/assets/stylesheets/_bootstrap.scss';

// can add Boostrap overrides, additional Sass/CSS below...

.navbar-container {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 999;
}

.pointer {
  cursor: pointer;
}

.classic-container {
  width: 100%;
  margin: 30px;
  font-size: 16px;
  text-align: left;
  display: table;
}

.inline {
  display: inline-block;
  vertical-align: middle;
}

.list {
  display: inline-block;
  vertical-align: top;
}

.spinner-container {
  font-size: 20px;
  display: inline-block;
  vertical-align: middle;
}

.spinner {
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
